body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }


#tree-wrapper {
	width: 100%;
	overflow-x: scroll;
	background-color: #f5f5f5;


}

.jcv-root {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 1000px;
	display: block;
}

.jcv-root .jcv-column {
	float: left;
	width: 200px;
	min-height: 100px;
}

.jcv-root .jcv-column .jcv-node-item {
	padding: 8px;
	margin: 3px;
	background-color: #e5e5e5;
	font-size: 14px;
	cursor: pointer;
	font-family: "Tahoma", "Lucida Grande", sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;

}

.jcv-root .jcv-column .jcv-node-item a {
	text-decoration: none;
}


.jcv-root .jcv-column .jcv-node-item.active {
  background-color: #497eac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(107, 160, 206)), to(rgb(73, 126, 172)));
  background-image: -webkit-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -moz-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -o-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -ms-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba0ce', EndColorStr='#497eac');

}

.jcv-root .jcv-column .jcv-node-item.active a {
  color: #fff;
  text-shadow: 0 1px 0 #104266;
 }


/*#tree-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tree-wrapper ul.root {
	width: 1000px;
	float: left;
}

#tree-wrapper ul.root li.column {
	width: 195px;
	float: left;
	background: rgba(0, 0, 0, 0.1);
	margin-right: 5px;
}

#tree-wrapper ul.root li.column ul.folder-content {
	border: 1px solid green;
}

#tree-wrapper ul.root li.column ul.folder-content.active {
	background: rgba(0, 0, 0, 0.1);
}

#tree-wrapper ul.root li.column ul.folder-content li.folder {
	font-weight: bold;
}

#tree-wrapper ul {
	display: none;
	margin: 0;
	list-style: none;
	padding-left: 20px;
}

#tree-wrapper ul.root {
	border: none;
	padding-left: 0;
}

#tree-wrapper ul.active {
	display: block;
}

#tree-wrapper li {
	background: rgba(0, 0, 0, 0.1);
	font-style: normal;
}
#tree-wrapper li.active {
	font-style: italic;
}

#tree-wrapper .folder {
	font-weight: bold;
}

#tree-wrapper .file {
	font-weight: normal;
}
*/
